body {
    margin: 0;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #008CBA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter {
    padding: 40px;
    background-color: #F44336;
    border: none;
    font-size: 80px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}